.navbar-toggler {
    border-width: 0;
}

.navbar-toggler:visited {
    border-width: 0;
}

button:focus {
    outline: none;
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
      background: #353535;
  }
  
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 12px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 24px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
/* NAVIGATION */
.navbar {
min-height: 60px;
background-color: #fff;
padding: 0;
}

.navbar-brand {
padding: 0 15px;
height: 70px;
line-height: 60px;
width: 50%;
font-size: 1.8rem;
background-color: #f4f7f6;
color: white !important;
}

.navbar-brand span {
    color: #db1e8c;
}

.navbar-toggle {
margin-top: 20px;
padding: 9px 10px !important;
}

.navbar-toggler {
    padding: 23px 23px 25px 0;
}

a.nav-link {
    margin-right: 23px;
}

.navbar-nav {
    text-align: right;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3ch;
    font-size: 3rem;
    line-height: 5rem;
}

  /* GRID */
section.primary {
    padding: 100px 0 0 0;

}

.icons {
    height: 190px;
    padding: 30px 20px;
}

.logo {
    width: 150px;
    padding: 40px 10px;
    margin: 10px 10px;
}

.figures {
    margin-bottom: 40px;
}

.logo-container {
    vertical-align: middle;
}

.tech-logo {
    width: 120px;
    padding: 10px;
    margin: 15px;
    border-width: 0.5px;
    border-color: #dededf;
    border-style: solid;
}

.link-row {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 20px 10px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#tech-link-div {
    color: white;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
}

#tech-link-div p {
    text-align: right;
    align-self: center;
}

#tech-link {
    margin-right: 25px;
    width: 80px;
    background-color: transparent;
    padding: 0;
}

#tech-link:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.content {
    margin: 100vh 0 0 0;

    position: absolute;
    width: 100%;
  top: 0;
}

.img {
    max-width: 80px;
}

/* GENERAL STYLES */
main {
    margin: 0 auto;
    width: 80%;
}

p,
label {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.bg-dark {
    background-color: #1b1d1e;
}

.link-desc,
.link-desc-white {
    margin: 0;
    padding-right: 10px;
    font-style: italic;
    font-weight: lighter;
}

.link-desc-white {
    color: white;
}

/* TYPOGRAPHY */
body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

.heading-1,
.heading-2 {
    margin-bottom: 30px;
    padding: 0 2px;
    color: white;
    display: inline-block;
}

.heading-1 {
    background-color: black;
}

.heading-2 {
    background-color: #db1e8c;
}

.color {
    color: #db1e8c;
}

.big {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

/* UNDERLINE EFFECT */
.underline {
    display: inline-block;
    position: relative;
  }
  
.underline:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 10px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: #fd039580;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

.underline:hover:after{
    width: 100%;
    left: 0;
    background: #fd039580;
    
}

/* HEADER */
header {
    height: 100%;
}
.video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    filter: grayscale(40%) brightness(50%);
}

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60px; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
    

.overlay-desc h1 {
    font-size: 6vw;
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #3f3f3f34;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
}

#down-arrow {
    width: 100px;
    margin: 80px auto 20px auto;
    bottom: 200px;
    padding: 10px;
}

#down-arrow:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;    
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#find-out {
    color: white;
    border-bottom-width: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

/* CONTACT */

.contact-container,
.form-container {
    padding: 25px;
    margin: auto;
}

.form-container {
    background-color: #f8f9fa;
    width: 93%;
}

.form-control {
    border-width: 0 0 10px 0;
    border-radius: 0;
    border-color: #fd039580;
    color: #a1a1a1;
}

::placeholder {
    color: #d6d6d6 !important;
}

textarea {
    width: 100%;
}

#countryCode {
    float: left;
    width: 30%;
}

#contactPhoneNumber {
    float: right;
    width: 67%;
}
.clearfix {
    overflow: auto;
}

textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-width: 0 0 10px 0;
    border-color: #fd039580;
}

#submit-div {
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#submit-div p {
    align-self: center;
    justify-content: flex-end;
    font-size: 1.1rem;
}

#submitButton {
    width: 80px;
    background-color: transparent;
    padding: 0;
}

#submitButton:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    opacity: 0.3;  
}

/* Footer */

footer {
    background-color: black;
}

footer h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

footer h3 {
    text-align: center;
}

footer .center-block {
    padding: 10px;
}

.fab {
    color: white;
    font-size: 3em;
    padding: 5px;
    margin: 0;
}

.copyright {
    text-align: center;
    color: lightgrey;
    font-size: 1em;
    padding-top: 30px;
}
.fa-linkedin:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #0073b1;
}
.fa-flickr:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #ff0084;
}
.fa-facebook-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #576b95;
}
.fa-google-plus-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #db4437;
}
.fa-github-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #ef391a;
}



  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }