/* GENERAL STYLES */
main {
    margin: 0 auto;
    width: 80%;
}

p,
label {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.7rem;
}

.bg-dark {
    background-color: #1b1d1e;
}

/* GRID AND SIZING */
.content {
    margin: 100vh 0 0 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.img {
    max-width: 80px;
}
section.primary {
    padding: 70px 0 0 0;
}

#about {
    background-color: #f8f9fa !important;
    padding: 100px 0 0 0;
}

.icons {
    width: 95px;
    padding: 30px 15px;
}

.icon-flow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 10px 30px;
    border-radius: 10px;
}

.logo {
    width: 100px;
    padding: 40px 10px;
    margin: 10px 10px;
}

.figures {
    margin-top: 20px;
}

.logo-container {
    vertical-align: middle;
    margin: 6px -6px;
}

.client {
    width: 90px;
    margin: 40px auto;
}

.tech-logo {
    width: 80px;
    padding: 8px;
    margin: 10px;
    border-width: 0.5px;
    border-color: #dededf;
    border-style: solid;
}

.link-row {
    width: 100%;
    padding: 20px 10px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#tech-link-div {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
}

#tech-link-div p {
    text-align: right;
    align-self: center;
}

#tech-link {
    width: 3em;
    background-color: transparent;
    padding: 0;
}

/* TYPOGRAPHY */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    line-height: 1.2;
}

.heading-1,
.heading-2 {
    margin-bottom: 30px;
    padding: 0 10px;
    color: white;
    display: inline-block;
    font-size: 2.5em;
}

.heading-1 {
    background-color: black;
}

.heading-2 {
    background-color: #db1e8c;
}

.color {
    color: #db1e8c;
}

.big {
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
}

.link-desc,
.link-desc-white {
    margin: 0;
    padding: 0 10px;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.2em;
    line-height: 1.4;
}

.link-desc-white {
    color: white;
}

/* NAVIGATION */
.navbar {
    background-color: rgba(255, 255, 255, 0.815);
    padding: 0;
}

.navbar-brand {
    padding: 0 15px;
    height: 70px;
    line-height: 60px;
    width: 50%;
    color: white !important;
    display: flex;
    align-items: center;
    }

#khc {
    width: 9vw;
}

.navbar-toggle {
margin-top: 20px;
padding: 9px 10px !important;
}

.navbar-toggler {
    padding: 23px 0px 25px 0;
    margin-right: 25px;
    border-width: 0;
}

a.nav-link {
    margin-right: 25px;
}

.navbar-nav {
    text-align: right;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    line-height: 1rem;
    margin-bottom: 10px;
}

/* HEADER */
header {
    height: 100%;
}
.video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    filter: grayscale(40%) brightness(50%);
}

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60px; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
    
.overlay-desc h1 {
    font-size: 6.5vw;
    text-align: left;
    color: white;
    padding: 10px;
    background-color: #3f3f3f34;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-noise.png");
}

.cover-caption {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    font-weight: lighter;
}

/* CONTACT */

.contact-container,
.form-container {
    padding: 25px;
    margin: auto;
}

.form-container {
    background-color: #f8f9fa;
    width: 93%;
}

.form-control {
    border-width: 0 0 10px 0;
    border-radius: 0;
    border-color: #093381a2;
    color: #a1a1a1;
    font-size: 1.1em;
}

::placeholder {
    color: #d6d6d6 !important;
}

textarea {
    width: 100%;
}

#countryCode {
    float: left;
    width: 30%;
}

#contactPhoneNumber {
    float: right;
    width: 67%;
}
.clearfix {
    overflow: auto;
}

textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.1em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-width: 0 0 10px 0;
    border-color: #093381a2;
}

#submit-div {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#submit-div p {
    align-self: center;
    justify-content: flex-end;
    font-size: 1.1rem;
}

#submitButton {
    width: 3.5em;
    background-color: transparent;
    padding: 0;
}

#submitButton:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

#submitButton svg:hover .st0 {
    fill: #db1e8c;
}

.overlay-desc svg:hover .st2 {
    fill: #db1e8c;
}

/* FOOTER */

footer {
    background-color: black;
}

footer h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

footer h3 {
    text-align: center;
}

footer .center-block {
    padding: 10px;
}

.fab {
    color: white;
    font-size: 3em;
    padding: 5px;
    margin: 0;
}

.contact-info {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-info p {
    padding: 0 10px;
}

.contact-info a:link {
    text-decoration: none;
    color: white;
}

.contact-info a:hover {
    color: #db1e8c;
    font-weight: bold;
}

.contact-col {
    padding: 0 !important;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copyright {
    text-align: center;
    color: lightgrey;
    font-size: 1em;
    padding-top: 30px;
}
.fa-linkedin:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #0073b1;
}
.fa-flickr:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #ff0084;
}
.fa-facebook-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #576b95;
}
.fa-google-plus-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #db4437;
}
.fa-github-square:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    color: #ef391a;
}

.fa-mobile-alt,
.fa-at {
    color: white;
    font-size: 2em;
    padding-right: 0;
}

/* MISC EFFECT */

#tech-link:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

#tech-link svg:hover .st0 {
    fill: #db1e8c;
}

#tech-link svg:hover .st1 {
    fill: #db1e8c;
}

/* UNDERLINE EFFECT */
.underline {
    display: inline-block;
    position: relative;
  }
  
.underline:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 10px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: #fd039580;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

.underline:hover:after{
    width: 100%;
    left: 0;
    background: #fd039580;    
}

/* SLIDE IN ON SCROLL */
.animation-element {
    opacity: 0;
    position: relative;
  }
  
.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  
.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  
/* ANIMATED HAMBURGER ICON */
.navbar-toggler:visited {
    border-width: 0;
}

button:focus {
    outline: none;
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #353535;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 12px;
}

.animated-icon1 span:nth-child(3) {
    top: 24px;
}

.animated-icon1.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* SPINNING ARROW */
#down-arrow {
    width: 70px;
    margin: 20px auto;
    padding: 10px;
}

#down-arrow:hover {
    animation-name: spin;
    animation-duration: 0.2s;
    animation-iteration-count: 1;    
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#find-out {
    color: white;
    border-bottom-width: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    #khc {
        width: 7vw;
    }

    .overlay-desc h1 {
        font-size: 5vw;
        padding: 30px;
        margin: 30px;
    }
    #down-arrow {
        width: 80px;
        margin: 10px auto 40px auto;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }

    #khc {
        width: 5vw;
        margin-left: 10%;
    }

    #down-arrow {
        width: 80px;
        margin: 10px auto 40px auto;
    }

    .overlay-desc h1 {
        font-size: 3vw;
        padding: 30px;
        margin: 30px;
    }

    .cover-caption {
        font-size: 2vw;
    }
    .client {
        width: 110px;
    }
    .tech-logo {
        width: 100px;
    }
    .navbar {
        max-height: 70px;
    }
}

@media (min-width: 992px) {
    .overlay-desc {
        padding: 50px 50px;
    }
    .icon-flow {
        padding: 0;
        margin: 10px 10px;
    }
    .tech-stacks {
        justify-content: space-between !important;
    }
    p {
        font-size: 1.1rem;
    }

    .link-desc, .link-desc-white {
        padding: 10px 10px;
        font-size: 1.5em;
    }

    .form-control {
        font-size: 1.3em;
    }

    textarea {
        font-size: 1.3em;
    }
    #khc {
        width: 5vw;
        margin-left: 10%;
    }
}

@media (min-width: 1200px) {
    #khc {
        width: 3vw;
        margin-left: 40%;
    }
    .overlay-desc h1 {
        font-size: 2.5vw;
        padding: 30px;
        margin: 30px 15%;
    }
    .cover-caption {
        font-size: 1.5vw;
    }
    .tech-logo {
        margin: 10px 20px;
    }
    .tech-stacks {
        justify-content: space-between !important;
    }
    p {
        font-size: 1.2rem;
    }
}